
<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span style="float:left;margin-left:15px" id="infobar"></span>
      </div>
    
      <div class="container white-text"><span style="float:right">
        <span>Orchelium Server Time: <span class="orange-text text-lighten-3"><%=new Date().toISOString()%></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
    </div>
  </footer>
