
<footer class="page-footer orange">
<!--    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">BackupHub</h5>
          <p class="grey-text text-lighten-4">Provides installation, control and monitoring of remote backup agents and their associated backup jobs across your local network</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/dpembo/BackupHub/blob/main/LICENSE">License</a></li>
            <li><a class="white-text" href="https://github.com/dpembo/BackupHub">Source</a></li>
            
          </ul>
        </div>
       
      </div>
    </div>-->
    <div class="footer-copyright">
      <div class="container">
        <span style="float:left">&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy;2025 <a class="orange-text text-lighten-3" href="https://www.pembo.co.uk">Pembo.co.uk</a>.  All Rights Reserved</span>
      </div>
    
      <div class="container white-text"><span style="float:right">
        <span>BackupHub Server Time: <span class="orange-text text-lighten-3"><%=new Date().toISOString()%></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
    </div>
  </footer>
