<!DOCTYPE html>
<html>
<head>
  <title>Login | Forgot Password</title>
  <link rel="stylesheet" href="/css/materialize/materialize.min.css">
  <link id="maincss" rel="stylesheet" href="css/light.css">
  <style>
    body {
        
      /*background-color: #f5f5f5;*/
      background: linear-gradient(to bottom right, #3498db, #e74c3c);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .card-panel {
      width: 360px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }
    label {
      font-size: 14px;
      color: #666;
    }
    input[type="text"],
    input[type="password"] {
      border: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      margin-bottom: 20px;
      color: #333;
    }
    .btn {
      background-color: #4caf50;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.2s;
    }
    .btn:hover {
      background-color: #45a049;
    }
    .forgot-password {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #666;
    }
  </style>
</head>
<body>
  <div class="card-panel" id="loginPanel">
    <span class="imgframe"><span class="loginimg"></span></span>
    <h1>Forgot Password</h1>
    <p>Please provide your user-id to reset your password. You'll receive an email with a one time password reset code link to continue</p>
    <form class="col s12" action="/forgot.html" method="POST">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" required>
      <button class="btn waves-effect waves-light orange" style="line-height:0px" type="submit">Submit</button>
    </form>
    <p class="forgot-password"><a href="/login.html">Login</a></p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    // Check if the 'message' URL parameter is present
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');
    
    if (message) {
      // Show a Materialize toast notification with the provided message
      M.toast({html: message, displayLength: 5000});
    }
  </script>
  <%- include('./partials/_theme'); %>
</body>
</html>